.App {
  text-align: center;
}

body{
  margin: 0px;
  padding: 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  display: flex;
  background-color: white;
  height: 50px;
}

.event-brite{
  color: rgb(157, 9, 9);
  margin-left: 10px;
}

.navbar-right{
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: 100px;
}

.create-event{
  margin-top: 45px;
  width: 120px;
  align-content: center;
  text-align: center;
}

.items{
  display: flex;
  position: relative;
  margin-top: 130px;
}

.delete-edit{
  display: flex;
}

.delete{
  margin: 0px 10px 0px 300px ;
}

.toolbar{
  display: flex;
  flex-direction: column;
}

.each-row-item{
  font-size: 10px;
}